<div fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="form-container">
        <mat-card-header fxLayoutAlign="center center">
            <mat-card-title class="form-header" fxLayoutAlign="center center">
            <div>
                <span>Junior High School - New Crown 1</span>
             </div>
            </mat-card-title>
        </mat-card-header>
  
        <mat-divider></mat-divider>

        <mat-card-content class="form-content">
            <div>
                <p>This is the test text.</p>

                <p>Trying to see what this will ultimately look like.</p>

                <div class="divider"></div>

                <p>Divider exists above this. Very nice.</p>
            </div>
        </mat-card-content>
    </mat-card>
</div>