<div fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="welcome-container">
        <mat-card-header fxLayoutAlign="center center">
            <mat-card-title class="form-header" fxLayoutAlign="center center">
            <div>
                <span>Welcome</span>
             </div>
            </mat-card-title>
        </mat-card-header>
  
        <mat-divider></mat-divider>

        <mat-card-content class="form-content">
            <div>
                <p>This site has been created to share the resources I have used in my Japanese Junior High School classes. This is a mix between what I have created myself, what I have gotten from other teachers, and from the internet.</p>
                <div class="divider"></div>
                <p>My lessons were created based on using the "New Crown" series of textbooks. As my school's lessons generally involved games/activities that were supplementary in nature, rather than teaching new content, you'll find that most of these resources are standalone but do not teach the content itself. Almost everything assumes that the students have some familiarity with the grammar or vocabulary. There are some exceptions, but be prepared to adapt the activities to fit your students' needs.</p>
                <div class="divider"></div>
                <p>Please feel free to contact me if there are any concerns or feedback regarding the content of this website.</p>
            </div>
        </mat-card-content>
    </mat-card>
</div>