<div class="main-container" fullscreen fxLayout="column">
  <!-- nav -->
  <div class="dark-theme">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <div fxFlex fxLayout>
          <div fxFlex fxLayoutAlign="start center">
            <button mat-button (click)="toggleSidebar()">
              <mat-icon *ngIf="sidebarOpen">arrow_back_ios</mat-icon>
              <mat-icon *ngIf="!sidebarOpen">arrow_forward_ios</mat-icon>
            </button>
          </div>

          <div fxFlex fxLayoutAlign="center center">
                <span class="no-select">ALT Resources</span>
          </div>

          <div fxFlex fxLayoutAlign="flex-end center">
            <a href="https://muggli.github.io/life/"><fa-icon [icon]="faHeart" size="2x" [styles]="{'color': 'white', 'padding-right': '.5em'}"></fa-icon></a>
            <a href="https://github.com/muggli/"><fa-icon [icon]="faGithub" size="2x" [styles]="{'color': 'white', 'padding-right': '.5em'}"></fa-icon></a>
            <a href="https://www.linkedin.com/in/ryan-muggli/"><fa-icon [icon]="faLinkedin" size="2x" [styles]="{'color': 'white', 'padding-right': '.5em'}"></fa-icon></a>
            <a href="mailto:ryan.muggli@gmail.com"><fa-icon [icon]="faEnvelope" size="2x" [styles]="{'color': 'white', 'padding-right': '1em'}"></fa-icon></a>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <mat-sidenav-container class="content-display-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="sidebarOpen">
      <mat-nav-list>
        <mat-list-item [class.disabled]="true" [disableRipple]="true"><mat-icon mat-list-icon>home</mat-icon>Junior High School</mat-list-item>
        <a mat-list-item (click)="changePage('jhs-nc1')"><mat-icon mat-list-icon>horizontal_rule</mat-icon>New Crown 1</a>
        <a mat-list-item><mat-icon mat-list-icon>horizontal_rule</mat-icon>New Crown 2</a>
        <a mat-list-item><mat-icon mat-list-icon>horizontal_rule</mat-icon>New Crown 3</a>
        <a mat-list-item><mat-icon mat-list-icon>horizontal_rule</mat-icon>Holiday Lessons</a>
        <a mat-list-item><mat-icon mat-list-icon>horizontal_rule</mat-icon>文化祭</a>
        <mat-list-item [class.disabled]="true" [disableRipple]="true"><mat-icon mat-list-icon>home</mat-icon>英語村英語村</mat-list-item>
        <a mat-list-item><mat-icon mat-list-icon>horizontal_rule</mat-icon>英吾村 - 小学校</a>
        <a mat-list-item><mat-icon mat-list-icon>horizontal_rule</mat-icon>英吾村 - 中学校</a>
        <mat-list-item [class.disabled]="true" [disableRipple]="true"><mat-icon mat-list-icon>home</mat-icon>Miscellaneous</mat-list-item>
        <a mat-list-item><mat-icon mat-list-icon>horizontal_rule</mat-icon>Fonts</a>
        <a mat-list-item><mat-icon mat-list-icon>horizontal_rule</mat-icon>Templates</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content fxLayout="column">
      <welcome *ngIf="page==='welcome'"></welcome>
      <jhs-nc1 *ngIf="page==='jhs-nc1'"></jhs-nc1>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <!-- footer -->
  <footer fxFlexOffset="auto">
    <div fxLayout="row">
      <span fxFlex fxLayoutAlign="center center">Created by: Ryan Muggli</span>
    </div>
  </footer>
</div>