<div class="main-container" fullscreen fxLayout="column">
  <!-- nav -->
  <div class="dark-theme">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <div fxFlex fxLayout>
          <div fxFlex fxLayoutAlign="start center">
            <button mat-button (click)="toggleSidebar()">
              <mat-icon *ngIf="sidebarOpen">arrow_back_ios</mat-icon>
              <mat-icon *ngIf="!sidebarOpen">arrow_forward_ios</mat-icon>
            </button>
          </div>

          <div fxFlex fxLayoutAlign="center center">
                <span class="no-select">ALT Resources</span>
          </div>

          <div fxFlex fxLayoutAlign="flex-end center" *ngIf="!isMobile">
            <a href="https://muggli.github.io/"><fa-icon [icon]="faGlobe" size="lg" [styles]="{'color': 'white', 'padding-right': '.5em'}"></fa-icon></a>
            <a href="https://muggli.github.io/life/"><fa-icon [icon]="faHeart" size="lg" [styles]="{'color': 'white', 'padding-right': '.5em'}"></fa-icon></a>
            <a href="https://github.com/muggli/"><fa-icon [icon]="faGithub" size="lg" [styles]="{'color': 'white', 'padding-right': '.5em'}"></fa-icon></a>
            <a href="https://www.linkedin.com/in/ryan-muggli/"><fa-icon [icon]="faLinkedin" size="lg" [styles]="{'color': 'white', 'padding-right': '.5em'}"></fa-icon></a>
            <a href="mailto:ryan.muggli@gmail.com"><fa-icon [icon]="faEnvelope" size="lg" [styles]="{'color': 'white', 'padding-right': '1em'}"></fa-icon></a>
          </div>

          <div fxFlex fxLayoutAlign="flex-end center" *ngIf="isMobile">
            <a href="https://muggli.github.io/"><fa-icon  [icon]="faGlobe" size="xs" [styles]="{'color': 'white', 'padding-right': '.5em'}"></fa-icon></a>
            <a href="https://muggli.github.io/life/"><fa-icon [icon]="faHeart" size="xs" [styles]="{'color': 'white', 'padding-right': '.5em'}"></fa-icon></a>
            <a href="https://github.com/muggli/"><fa-icon [icon]="faGithub" size="xs" [styles]="{'color': 'white', 'padding-right': '.5em'}"></fa-icon></a>
            <a href="https://www.linkedin.com/in/ryan-muggli/"><fa-icon [icon]="faLinkedin" size="xs" [styles]="{'color': 'white', 'padding-right': '.5em'}"></fa-icon></a>
            <a href="mailto:ryan.muggli@gmail.com"><fa-icon [icon]="faEnvelope" size="xs" [styles]="{'color': 'white', 'padding-right': '1em'}"></fa-icon></a>
          </div>
          
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <mat-sidenav-container class="content-display-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="sidebarOpen">
      <mat-nav-list>
        <a mat-list-item (click)="changePage('welcome')"><mat-icon mat-list-icon>home</mat-icon>Welcome</a>
        <a mat-list-item (click)="changePage('jhs-nc1')"><mat-icon mat-list-icon>school</mat-icon>JHS: NC1</a>
        <a mat-list-item (click)="changePage('jhs-nc2')"><mat-icon mat-list-icon>school</mat-icon>JHS: NC2</a>
        <a mat-list-item (click)="changePage('jhs-nc3')"><mat-icon mat-list-icon>school</mat-icon>JHS: NC3</a>
        <a mat-list-item (click)="changePage('eigomura')"><mat-icon mat-list-icon>groups</mat-icon>英語村</a>
        <a mat-list-item (click)="changePage('misc')"><mat-icon mat-list-icon>translate</mat-icon>Miscellaneous</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content fxLayout="column">
      <welcome *ngIf="page==='welcome'"></welcome>
      <file-tree *ngIf="page==='jhs-nc1'" [page]="page"></file-tree>
      <file-tree *ngIf="page==='jhs-nc2'" [page]="page"></file-tree>
      <file-tree *ngIf="page==='jhs-nc3'" [page]="page"></file-tree>
      <file-tree *ngIf="page==='eigomura'" [page]="page"></file-tree>
      <file-tree *ngIf="page==='misc'" [page]="page"></file-tree>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <!-- footer -->
  <footer fxFlexOffset="auto">
    <div fxLayout="row">
      <span fxFlex fxLayoutAlign="center center">Created by: Ryan Muggli</span>
    </div>
  </footer>
</div>